@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@use "sass:math";
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-light";
  src: url("../assets/fonts/static/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("../assets/fonts/static/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-semibold";
  src: url("../assets/fonts/static/Montserrat-SemiBold.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
li {
  list-style: none;
}

.container {
  overflow: hidden;
}

.container a {
  text-decoration: none;
  color: inherit;
}

.container a:hover {
  text-decoration: none;
}

#more {
  display: none;
}

#more1 {
  display: none;
}

.active_height {
  max-height: inherit !important;
}

.active_height_max {
  max-height: 0 !important;
}

.container {
  padding-left: 11.11111vw;
  padding-right: 11.11111vw;
}

@media (max-width: 620px) {
  .container {
    padding-left: 4.83092vw;
    padding-right: 4.83092vw;
  }
}

.modal {
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.11111vw;
  width: 80vw;
  border-radius: 0.55556vw;
}

@media (max-width: 620px) {
  .modal-content {
    padding: 3.86473vw;
    width: 90%;
    border-radius: 1.93237vw;
    overflow: auto;
    position: absolute;
    top: 53%;
    bottom: 0;
    height: 85vh;
  }
}

.wrapper_modal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6.66667vw;
}

@media (max-width: 620px) {
  .wrapper_modal {
    display: block;
  }
}

.wrapper_modal .left_modal .box_img {
  -ms-grid-columns: 2.2fr 1fr;
      grid-template-columns: 2.2fr 1fr;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 2.43056vw;
  margin-bottom: 2.43056vw;
  width: 100%;
}

@media (max-width: 620px) {
  .wrapper_modal .left_modal .box_img {
    grid-column-gap: 6.03865vw;
    margin-bottom: 6.03865vw;
  }
}

.wrapper_modal .left_modal .box_img .gap {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2.43056vw;
}

@media (max-width: 620px) {
  .wrapper_modal .left_modal .box_img .gap {
    grid-row-gap: 6.03865vw;
  }
}

.wrapper_modal .left_modal .box_img img {
  width: 100%;
  height: 100%;
}

.wrapper_modal .left_modal .box_img_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.43056vw;
  width: 100%;
}

@media (max-width: 620px) {
  .wrapper_modal .left_modal .box_img_1 {
    grid-column-gap: 6.03865vw;
  }
}

.wrapper_modal .left_modal .box_img_1 img {
  width: 100%;
  height: 100%;
}

.wrapper_modal .right_modal {
  padding-top: 4.86111vw;
}

@media (max-width: 620px) {
  .wrapper_modal .right_modal {
    padding-top: 9.66184vw;
  }
}

.wrapper_modal .right_modal h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.66667vw;
  line-height: 2.01389vw;
  text-transform: capitalize;
  margin-bottom: 1.11111vw;
  color: #A9D18E;
}

@media (max-width: 620px) {
  .wrapper_modal .right_modal h3 {
    font-size: 5.7971vw;
    line-height: 7.00483vw;
    margin-bottom: 3.86473vw;
  }
}

.wrapper_modal .right_modal h5 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.38889vw;
  line-height: 1.66667vw;
  text-transform: capitalize;
  margin-bottom: 1.11111vw;
  color: #000000;
}

@media (max-width: 620px) {
  .wrapper_modal .right_modal h5 {
    font-size: 4.83092vw;
    line-height: 5.7971vw;
    margin-bottom: 3.86473vw;
  }
}

.wrapper_modal .right_modal p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 1.11111vw;
}

@media (max-width: 620px) {
  .wrapper_modal .right_modal p {
    font-size: 3.86473vw;
    line-height: 4.83092vw;
    margin-bottom: 3.86473vw;
  }
}

.wrapper_modal .right_modal .btn_recap {
  padding-top: 5.55556vw;
}

@media (max-width: 620px) {
  .wrapper_modal .right_modal .btn_recap {
    padding-top: 7.24638vw;
  }
}

.wrapper_modal .right_modal .btn_recap .btn_views {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  text-transform: capitalize;
  text-decoration: none;
  color: #FFFFFF;
  width: 11.66667vw;
  height: 3.61111vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00B050;
  border-radius: 6.94444vw;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.wrapper_modal .right_modal .btn_recap .btn_views:hover {
  border: 0.13889vw solid #00B050;
  color: #00B050;
  background-color: #fff;
}

@media (max-width: 620px) {
  .wrapper_modal .right_modal .btn_recap .btn_views {
    width: 40.57971vw;
    height: 12.56039vw;
    font-size: 3.86473vw;
    line-height: 4.83092vw;
    border-radius: 24.15459vw;
  }
}

.close-button {
  float: right;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.close-button:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 620px) {
  .close-button {
    margin-bottom: 3.62319vw;
  }
}

.close-button img {
  width: auto;
  height: auto;
}

@media (max-width: 620px) {
  .close-button img {
    width: 5.7971vw;
    height: 5.7971vw;
  }
}

.show-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5.55556vw;
  height: 5.55556vw;
}

@media (max-width: 620px) {
  .loader,
  .loader:after {
    width: 19.32367vw;
    height: 19.32367vw;
  }
}

@media (min-width: 621px) and (max-width: 1024px) {
  .loader,
  .loader:after {
    width: 8.06452vw;
    height: 8.06452vw;
  }
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1em solid #d8d8d8;
  border-right: 1em solid #d8d8d8;
  border-bottom: 1em solid #d8d8d8;
  border-left: 1em solid #00B050;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loadingDiv {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
}

.wrapper_service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5.20833vw;
  padding: 4.72222vw 0 4.02778vw 0;
}

@media (max-width: 620px) {
  .wrapper_service {
    display: block;
    padding: 9.66184vw 0 4.83092vw 0;
  }
}

.wrapper_service .title_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 620px) {
  .wrapper_service .title_main {
    margin-bottom: 8.45411vw;
  }
}

.wrapper_service .title_main h2 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 4.44444vw;
  line-height: 5.41667vw;
  text-transform: uppercase;
  color: #252525;
}

@media (max-width: 620px) {
  .wrapper_service .title_main h2 {
    font-size: 9.66184vw;
    line-height: 8.45411vw;
    margin-bottom: 2.41546vw;
  }
}

.wrapper_service .title_main h2 span {
  color: #A9D18E;
}

.wrapper_service .title_main p {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1.38889vw;
  line-height: 1.66667vw;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #252525;
}

@media (max-width: 620px) {
  .wrapper_service .title_main p {
    font-size: 3.38164vw;
    line-height: 4.83092vw;
    text-align: center;
  }
}

.wrapper_service .content_main li {
  margin-bottom: 2.08333vw;
}

@media (max-width: 620px) {
  .wrapper_service .content_main li {
    margin-bottom: 6.03865vw;
  }
}

.wrapper_service .content_main li:last-child {
  margin-bottom: 0;
}

.wrapper_service .content_main li h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.38889vw;
  line-height: 1.66667vw;
  color: #252525;
  padding-bottom: 0.69444vw;
  border-bottom: 0.13889vw solid #A9D18E;
  margin-bottom: 1.38889vw;
  display: inline-block;
}

@media (max-width: 620px) {
  .wrapper_service .content_main li h3 {
    font-size: 4.83092vw;
    line-height: 5.7971vw;
    padding-bottom: 2.41546vw;
    border-bottom: 0.48309vw solid #A9D18E;
    margin-bottom: 4.83092vw;
  }
}

.wrapper_service .content_main li p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.11111vw;
  line-height: 1.66667vw;
  color: #252525;
}

@media (max-width: 620px) {
  .wrapper_service .content_main li p {
    font-size: 3.86473vw;
    line-height: 5.7971vw;
  }
}

.wrapper_value {
  padding: 5.55556vw 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../assets/images/values.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/images/values.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 620px) {
  .wrapper_value {
    padding: 9.66184vw 0;
  }
}

.wrapper_value .title {
  text-align: center;
}

.wrapper_value .title h2 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 4.44444vw;
  line-height: 5.41667vw;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 620px) {
  .wrapper_value .title h2 {
    font-size: 8.45411vw;
    line-height: 9.66184vw;
    margin-bottom: 3.1401vw;
  }
}

.wrapper_value .title h2 span {
  color: #A9D18E;
}

.wrapper_value .title p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.11111vw;
  line-height: 150%;
  color: #FFFFFF;
}

@media (max-width: 620px) {
  .wrapper_value .title p {
    font-size: 3.38164vw;
  }
}

.wrapper_value .content_value {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.77778vw;
  padding-top: 5.55556vw;
}

@media (max-width: 620px) {
  .wrapper_value .content_value {
    display: block;
    padding-top: 8.45411vw;
  }
}

@media (max-width: 620px) {
  .wrapper_value .content_value .item {
    margin-bottom: 7.24638vw;
  }
}

.wrapper_value .content_value .item h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.38889vw;
  line-height: 1.66667vw;
  color: #A9D18E;
  margin-bottom: 1.94444vw;
}

@media (max-width: 620px) {
  .wrapper_value .content_value .item h3 {
    font-size: 4.83092vw;
    line-height: 5.7971vw;
    margin-bottom: 4.34783vw;
  }
}

.wrapper_value .content_value .item p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.11111vw;
  line-height: 150%;
  color: #FFFFFF;
}

@media (max-width: 620px) {
  .wrapper_value .content_value .item p {
    font-size: 3.86473vw;
  }
}

.wrapper_contact {
  padding: 11.11111vw 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), #252525;
}

@media (max-width: 620px) {
  .wrapper_contact {
    padding: 19.32367vw 0;
  }
}

.wrapper_contact .box_contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5.55556vw;
}

@media (max-width: 620px) {
  .wrapper_contact .box_contact {
    display: block;
  }
}

.wrapper_contact .box_contact form .flex_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.69444vw;
}

@media (max-width: 620px) {
  .wrapper_contact .box_contact form .flex_control {
    gap: 2.41546vw;
  }
}

.wrapper_contact .box_contact form .flex_control input {
  border: 0.06944vw solid #A9D18E;
  border-radius: 0.55556vw;
  padding: 0.69444vw;
  width: 100%;
  background: inherit;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  letter-spacing: -0.015em;
  outline: none;
  color: #FFFFFF;
  opacity: 0.5;
}

.wrapper_contact .box_contact form .flex_control input::-webkit-input-placeholder {
  color: #fff;
}

.wrapper_contact .box_contact form .flex_control input:-ms-input-placeholder {
  color: #fff;
}

.wrapper_contact .box_contact form .flex_control input::-ms-input-placeholder {
  color: #fff;
}

.wrapper_contact .box_contact form .flex_control input::placeholder {
  color: #fff;
}

@media (max-width: 620px) {
  .wrapper_contact .box_contact form .flex_control input {
    font-size: 3.86473vw;
    line-height: 4.83092vw;
    border: 0.24155vw solid #A9D18E;
    border-radius: 1.93237vw;
    padding: 2.41546vw;
  }
}

.wrapper_contact .box_contact form textarea {
  margin-top: 0.69444vw;
  padding: 0.69444vw;
  width: 100%;
  height: 13.88889vw;
  outline: none;
  border: 0.06944vw solid #A9D18E;
  border-radius: 0.55556vw;
  background: inherit;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  letter-spacing: -0.015em;
  outline: none;
  color: #FFFFFF;
  opacity: 0.5;
}

.wrapper_contact .box_contact form textarea::-webkit-input-placeholder {
  color: #fff;
}

.wrapper_contact .box_contact form textarea:-ms-input-placeholder {
  color: #fff;
}

.wrapper_contact .box_contact form textarea::-ms-input-placeholder {
  color: #fff;
}

.wrapper_contact .box_contact form textarea::placeholder {
  color: #fff;
}

@media (max-width: 620px) {
  .wrapper_contact .box_contact form textarea {
    font-size: 3.86473vw;
    line-height: 4.83092vw;
    border: 0.24155vw solid #A9D18E;
    border-radius: 1.93237vw;
    margin-top: 2.41546vw;
    padding: 2.41546vw;
    height: 24.15459vw;
  }
}

.wrapper_contact .box_contact form .btn_send {
  margin-top: 2.08333vw;
  background: #00B050;
  border-radius: 6.94444vw;
  width: 7.43056vw;
  height: 3.61111vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.wrapper_contact .box_contact form .btn_send:hover {
  border: 0.13889vw solid #00B050;
  color: #00B050;
  background-color: #fff;
}

@media (max-width: 620px) {
  .wrapper_contact .box_contact form .btn_send {
    font-size: 3.86473vw;
    line-height: 4.83092vw;
    margin-top: 4.83092vw;
    background: #00B050;
    border-radius: 24.15459vw;
    width: 30%;
    height: 12.56039vw;
  }
}

@media (max-width: 620px) {
  .wrapper_contact .box_contact .infor {
    margin-top: 8.45411vw;
  }
}

.wrapper_contact .box_contact .infor h2 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 4.44444vw;
  line-height: 5.41667vw;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #A9D18E;
  padding-bottom: 1.38889vw;
}

@media (max-width: 620px) {
  .wrapper_contact .box_contact .infor h2 {
    font-size: 8.45411vw;
    line-height: 9.17874vw;
    padding-bottom: 4.83092vw;
  }
}

.wrapper_contact .box_contact .infor ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.38889vw;
}

@media (max-width: 620px) {
  .wrapper_contact .box_contact .infor ul li {
    padding-bottom: 4.83092vw;
  }
}

.wrapper_contact .box_contact .infor ul li img {
  height: auto;
  width: auto;
  margin-right: 1.25vw;
}

@media (max-width: 620px) {
  .wrapper_contact .box_contact .infor ul li img {
    margin-right: 4.34783vw;
  }
}

.wrapper_contact .box_contact .infor ul li span {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  color: #FFFFFF;
}

@media (max-width: 620px) {
  .wrapper_contact .box_contact .infor ul li span {
    font-size: 3.86473vw;
    line-height: 4.83092vw;
  }
}

.wrapper_contact .box_contact .infor ul li a {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  color: #FFFFFF;
}

@media (max-width: 620px) {
  .wrapper_contact .box_contact .infor ul li a {
    font-size: 3.86473vw;
    line-height: 4.83092vw;
  }
}

.wrapper_client {
  padding: 11.11111vw 0;
}

@media (max-width: 620px) {
  .wrapper_client {
    padding: 14.49275vw 0;
  }
}

.wrapper_client .box_clients .item img {
  margin-bottom: 3.88889vw;
  width: auto;
  height: auto;
}

@media (max-width: 620px) {
  .wrapper_client .box_clients .item img {
    margin: 0 auto 12.07729vw auto;
    width: 85%;
  }
}

@media (min-width: 621px) and (max-width: 1024px) {
  .wrapper_client .box_clients .item img {
    margin: 0 auto 5.04032vw auto;
    width: 90%;
  }
}

.title_page {
  margin-bottom: 5.55556vw;
}

@media (max-width: 620px) {
  .title_page {
    margin-bottom: 9.66184vw;
  }
}

.title_page h2 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 4.44444vw;
  line-height: 5.41667vw;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

@media (max-width: 620px) {
  .title_page h2 {
    font-size: 9.66184vw;
    line-height: 11.5942vw;
  }
}

.title_page h2 span {
  color: #A9D18E;
}

.slick-dots li button:before {
  font-size: 8px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #A9D18E;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  color: #A9D18E;
}

.wrapper_event {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 620px) {
  .wrapper_event {
    display: block;
  }
}

.wrapper_event .management {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../assets/images/event.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/images/event.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7.5vw 5.625vw 7.5vw 11.11111vw;
}

@media (max-width: 620px) {
  .wrapper_event .management {
    padding: 6.03865vw 4.83092vw;
  }
}

.wrapper_event .management h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 3.33333vw;
  line-height: 4.09722vw;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #A9D18E;
  margin-bottom: 1.11111vw;
}

@media (max-width: 620px) {
  .wrapper_event .management h2 {
    font-size: 7.72947vw;
    line-height: 11.5942vw;
    margin-bottom: 3.1401vw;
  }
}

.wrapper_event .management p {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  padding-right: 5.48611vw;
  margin-bottom: 1.11111vw;
}

@media (max-width: 620px) {
  .wrapper_event .management p {
    font-size: 3.86473vw;
    line-height: 4.83092vw;
    padding-right: 0vw;
    margin-bottom: 3.86473vw;
  }
}

.wrapper_event .management p.sub {
  font-weight: 400;
  line-height: 1.66667vw;
}

@media (max-width: 620px) {
  .wrapper_event .management p.sub {
    line-height: 5.7971vw;
  }
}

.wrapper_event .vitural {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../assets/images/virtual.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/images/virtual.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7.5vw 11.11111vw;
}

@media (max-width: 620px) {
  .wrapper_event .vitural {
    padding: 6.03865vw 4.83092vw;
  }
}

.wrapper_event .vitural h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 3.33333vw;
  line-height: 4.09722vw;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #A9D18E;
  margin-bottom: 1.11111vw;
}

@media (max-width: 620px) {
  .wrapper_event .vitural h2 {
    font-size: 7.72947vw;
    line-height: 11.5942vw;
    margin-bottom: 3.1401vw;
  }
}

.wrapper_event .vitural p {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  margin-bottom: 1.11111vw;
}

@media (max-width: 620px) {
  .wrapper_event .vitural p {
    font-size: 3.86473vw;
    line-height: 4.83092vw;
    margin-bottom: 3.86473vw;
  }
}

.wrapper_event .vitural p.sub {
  font-weight: 400;
  line-height: 1.66667vw;
}

@media (max-width: 620px) {
  .wrapper_event .vitural p.sub {
    line-height: 5.7971vw;
  }
}

.wrapper_work {
  padding: 11.11111vw 0;
}

@media (max-width: 620px) {
  .wrapper_work {
    padding: 19.32367vw 0;
  }
}

.wrapper_work .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.38889vw;
}

@media (max-width: 620px) {
  .wrapper_work .more {
    margin-top: 4.83092vw;
  }
}

.wrapper_work .more .btn_read {
  border: 0.13889vw solid #A9D18E;
  border-radius: 6.94444vw;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  text-transform: capitalize;
  color: #A9D18E;
  width: 9.79167vw;
  height: 3.61111vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 620px) {
  .wrapper_work .more .btn_read {
    font-size: 3.86473vw;
    line-height: 4.83092vw;
    width: 50%;
    height: 12.56039vw;
  }
}

.wrapper_work .tabs_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 620px) {
  .wrapper_work .tabs_box {
    width: 100%;
  }
}

.wrapper_work .tabs_box .tablinks {
  background: inherit;
  border: none;
  outline: none;
  padding: 0 1.80556vw;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #252525;
  padding-bottom: 0.55556vw;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 620px) {
  .wrapper_work .tabs_box .tablinks {
    font-size: 3.86473vw;
    line-height: 4.83092vw;
    padding: 0 7.24638vw 1.44928vw 7.24638vw;
    text-align: center;
    margin-bottom: 2.41546vw;
  }
}

.wrapper_work .tabs_box .tablinks:hover {
  color: #A9D18E;
}

.wrapper_work .tabs_box .tablinks:hover::before {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.wrapper_work .tabs_box .tablinks:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.wrapper_work .tabs_box .tablinks::before {
  width: 1.38889vw;
  text-align: right;
  margin-right: 0.55556vw;
  margin-left: -1.94444vw;
  content: '[';
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: opacity .2s, -webkit-transform .3s;
  transition: opacity .2s, -webkit-transform .3s;
  transition: transform .3s, opacity .2s;
  transition: transform .3s, opacity .2s, -webkit-transform .3s;
  display: inline-block;
  opacity: 0;
}

@media (max-width: 620px) {
  .wrapper_work .tabs_box .tablinks::before {
    width: 4.83092vw;
    margin-right: 1.20773vw;
    margin-left: -6.03865vw;
  }
}

.wrapper_work .tabs_box .tablinks::after {
  width: 1.38889vw;
  text-align: left;
  margin-left: 0.55556vw;
  margin-right: -1.94444vw;
  content: ']';
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition: opacity .2s, -webkit-transform .3s;
  transition: opacity .2s, -webkit-transform .3s;
  transition: transform .3s, opacity .2s;
  transition: transform .3s, opacity .2s, -webkit-transform .3s;
  display: inline-block;
  opacity: 0;
}

@media (max-width: 620px) {
  .wrapper_work .tabs_box .tablinks::after {
    width: 4.83092vw;
    margin-left: 1.20773vw;
    margin-right: -6.03865vw;
  }
}

.wrapper_work .tabs_box .tablinks.active {
  color: #A9D18E;
  border-bottom: 0.13889vw solid #A9D18E;
}

@media (max-width: 620px) {
  .wrapper_work .tabs_box .tablinks.active {
    border-bottom: 0.48309vw solid #A9D18E;
  }
}

.wrapper_work .tabs_box .tablinks.active::before {
  width: 1.38889vw;
  text-align: right;
  margin-right: 0.55556vw;
  margin-left: -1.94444vw;
  content: '[';
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  display: inline-block;
  opacity: 1;
}

@media (max-width: 620px) {
  .wrapper_work .tabs_box .tablinks.active::before {
    margin-left: -6.03865vw;
    margin-right: 1.20773vw;
    width: 4.83092vw;
  }
}

.wrapper_work .tabs_box .tablinks.active::after {
  width: 1.38889vw;
  text-align: left;
  margin-left: 0.55556vw;
  margin-right: -1.94444vw;
  content: ']';
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  display: inline-block;
  opacity: 1;
}

@media (max-width: 620px) {
  .wrapper_work .tabs_box .tablinks.active::after {
    width: 4.83092vw;
    margin-left: 1.20773vw;
    margin-right: -6.03865vw;
  }
}

.wrapper_work .wrapper_work_event {
  padding-top: 5.55556vw;
  display: none;
}

@media (max-width: 620px) {
  .wrapper_work .wrapper_work_event {
    padding-top: 8.45411vw;
  }
}

.wrapper_work .wrapper_work_event.active {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 620px) {
  .wrapper_work .wrapper_work_event.active {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.wrapper_work .wrapper_work_event .item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.wrapper_work .wrapper_work_event .item:hover .overlay {
  opacity: 1;
}

.wrapper_work .wrapper_work_event .item:hover img {
  -webkit-transform: scale(1.55, 1.55) rotate(-20deg);
          transform: scale(1.55, 1.55) rotate(-20deg);
}

.wrapper_work .wrapper_work_event .item .overlay {
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.wrapper_work .wrapper_work_event .item .detail {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 0.55556vw;
  border-bottom: 0.13889vw solid #A9D18E;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

@media (max-width: 620px) {
  .wrapper_work .wrapper_work_event .item .detail {
    padding-bottom: 1.93237vw;
    border-bottom: 0.48309vw solid #A9D18E;
  }
}

.wrapper_work .wrapper_work_event .item .detail span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  text-transform: capitalize;
  color: #A9D18E;
}

@media (max-width: 620px) {
  .wrapper_work .wrapper_work_event .item .detail span {
    font-size: 3.86473vw;
    list-style: 4.83092vw;
  }
}

.wrapper_work .wrapper_work_event .item img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.m-0 {
  margin-bottom: 0.69444vw;
}

@media (max-width: 620px) {
  .m-0 {
    margin-bottom: 2.41546vw;
  }
}
/*# sourceMappingURL=main.css.map */